.cardContainer {
  width: 20%;
  height: 20%;
  display: inline-block;
  overflow: hidden;
  margin: 1vw;

  .imageContainer {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      transition-duration: 1s;

      &:hover {
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
