@import "variables", "header", "card";

body {
  font-family: $body-font-fam;
}

.gameboardWrapper {
  width: 100vw;

  .alertWrapper {
    width: 80%;
    margin: 0 auto;

    .alert {
      display: none;
    }
    .active {
      display: block;
      margin: 2vh;
      text-align: center;
      font-family: $header-font-fam;
      color: red;
    }

    .info {
      display: none;
    }
    .start {
      display: block;
      margin: 2vh;
      text-align: center;
      font-family: $header-font-fam;
      color: grey;

      h4 {
        font-size: 1.5rem;
        color: #33c3ff;
        line-height: 2.5rem;
      }
    }
  }
}

.gameboardCards {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 7vh;
  text-align: center;
}

.scoreboard {
  display: flex;
  width: 80%;
  margin: 1.5vh auto;
  font-size: 1.5rem;
  text-align: center;
  justify-content: space-between;
  font-family: $header-font-fam;
}

.scoreboardEmph {
  font-weight: bolder;
  color: #33c3ff;
}
